<a href="https://colab.research.google.com/github/FahmidaNourin/Machine_Learning/blob/main/covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/effects-of-covid-19-on-trade-at-15-december-2021-provisional.csv")

In [ ]:
target = "Direction"

In [ ]:
df.head(10)

,Direction,Year,Date,Weekday,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,01/01/2015,Thursday,All,All,All,$,104000000,104000000
1,Exports,2015,02/01/2015,Friday,All,All,All,$,96000000,200000000
2,Exports,2015,03/01/2015,Saturday,All,All,All,$,61000000,262000000
3,Exports,2015,04/01/2015,Sunday,All,All,All,$,74000000,336000000
4,Exports,2015,05/01/2015,Monday,All,All,All,$,105000000,442000000
5,Exports,2015,06/01/2015,Tuesday,All,All,All,$,76000000,518000000
6,Exports,2015,07/01/2015,Wednesday,All,All,All,$,59000000,577000000
7,Exports,2015,08/01/2015,Thursday,All,All,All,$,111000000,688000000
8,Exports,2015,09/01/2015,Friday,All,All,All,$,98000000,786000000
9,Exports,2015,10/01/2015,Saturday,All,All,All,$,89000000,875000000

In [ ]:
df.columns

Index(['Direction', 'Year', 'Date', 'Weekday', 'Country', 'Commodity',
       'Transport_Mode', 'Measure', 'Value', 'Cumulative'],
      dtype='object')

In [ ]:
df.shape

(111438, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111438 entries, 0 to 111437
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Direction       111438 non-null  object
 1   Year            111438 non-null  int64
 2   Date            111438 non-null  object
 3   Weekday         111438 non-null  object
 4   Country         111438 non-null  object
 5   Commodity       111438 non-null  object
 6   Transport_Mode  111438 non-null  object
 7   Measure         111438 non-null  object
 8   Value           111438 non-null  int64
 9   Cumulative      111438 non-null  int64
dtypes: int64(3), object(7)
memory usage: 8.5+ MB

In [ ]:
df.dropna(axis = 0, how='any', inplace = True)
df= df.reset_index(drop = True)       # reseting starting index and ending index

In [ ]:
df.shape

(111438, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111438 entries, 0 to 111437
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Direction       111438 non-null  object
 1   Year            111438 non-null  int64
 2   Date            111438 non-null  object
 3   Weekday         111438 non-null  object
 4   Country         111438 non-null  object
 5   Commodity       111438 non-null  object
 6   Transport_Mode  111438 non-null  object
 7   Measure         111438 non-null  object
 8   Value           111438 non-null  int64
 9   Cumulative      111438 non-null  int64
dtypes: int64(3), object(7)
memory usage: 8.5+ MB

In [ ]:
li=['Direction', 'Year','Country', 'Commodity',
'Transport_Mode','Value', 'Cumulative']

In [ ]:
df2=df[li]

In [ ]:
df2 .head()

  Direction  Year Country Commodity Transport_Mode      Value  Cumulative
0   Exports  2015     All       All            All  104000000   104000000
1   Exports  2015     All       All            All   96000000   200000000
2   Exports  2015     All       All            All   61000000   262000000
3   Exports  2015     All       All            All   74000000   336000000
4   Exports  2015     All       All            All  105000000   442000000

In [ ]:
df2["Direction"].value_counts()

Exports      80973
Imports      27940
Reimports     2525
Name: Direction, dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111438 entries, 0 to 111437
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Direction       111438 non-null  object
 1   Year            111438 non-null  int64
 2   Country         111438 non-null  object
 3   Commodity       111438 non-null  object
 4   Transport_Mode  111438 non-null  object
 5   Value           111438 non-null  int64
 6   Cumulative      111438 non-null  int64
dtypes: int64(3), object(4)
memory usage: 6.0+ MB

Now we have to encode the object datatype using sklearn.preprocessing , LevelEncoder(sklearn is a library)

In [ ]:
from sklearn.preprocessing import LabelEncoder
encd = LabelEncoder()

In [ ]:
df2["Direction"] = encd.fit_transform(df2["Direction"])

<ipython-input-72-ed8a8a0fbff5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Direction"] = encd.fit_transform(df2["Direction"])

In [ ]:
df2["Direction"].value_counts()

0    80973
1    27940
2     2525
Name: Direction, dtype: int64

In [ ]:
df2["Country"] = encd.fit_transform(df2["Country"])

<ipython-input-74-f4c9c0d308d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = encd.fit_transform(df2["Country"])

In [ ]:
df2["Commodity"] = encd.fit_transform(df2["Commodity"])

<ipython-input-75-d8af6d7fc690>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Commodity"] = encd.fit_transform(df2["Commodity"])

In [ ]:
df2["Transport_Mode"] = encd.fit_transform(df2["Transport_Mode"])

<ipython-input-76-de889980d205>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Transport_Mode"] = encd.fit_transform(df2["Transport_Mode"])

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111438 entries, 0 to 111437
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Direction       111438 non-null  int64
 1   Year            111438 non-null  int64
 2   Country         111438 non-null  int64
 3   Commodity       111438 non-null  int64
 4   Transport_Mode  111438 non-null  int64
 5   Value           111438 non-null  int64
 6   Cumulative      111438 non-null  int64
dtypes: int64(7)
memory usage: 6.0 MB

In [ ]:
k = df.loc[:,["WindGustDir","WindGustSpeed","Cloud9am","Temp3pm"]]

In [ ]:
k.head(-1)

     WindGustDir  WindGustSpeed  Cloud9am  Temp3pm
0              7           30.0         7     23.6
1              1           39.0         5     25.7
2              7           85.0         8     20.2
3              7           54.0         2     14.1
4             10           50.0         7     15.4
..           ...            ...       ...      ...
322            3           43.0         0     24.8
323            6           76.0         1     30.0
324            3           48.0         0     28.2
325            2           43.0         3     18.3
326            7           46.0         6     25.9

[327 rows x 4 columns]

In [ ]:
df.iloc[100:,4:]

,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
100,8.9,10,33.0,8,8,15.0,17,65,51,1007.7,1006.8,6,6,13.8,18.7,0,0.0,0
101,9.6,1,41.0,10,13,17.0,13,66,37,1013.6,1011.4,1,7,14.0,21.4,0,0.0,0
102,10.7,4,31.0,9,4,7.0,13,74,34,1016.1,1011.7,1,5,14.6,24.2,0,4.4,1
103,5.9,13,48.0,6,14,9.0,17,95,60,1010.8,1006.8,8,5,15.8,22.6,1,11.0,1
104,0.4,1,30.0,10,10,13.0,15,81,73,1010.0,1011.0,7,8,16.3,16.8,1,0.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,12.1,6,76.0,10,7,7.0,50,38,15,1016.1,1010.8,1,3,20.4,30.0,0,0.0,0
324,12.7,3,48.0,6,6,2.0,19,45,22,1020.0,1016.9,0,1,17.2,28.2,0,0.0,0
325,5.3,2,43.0,1,1,11.0,9,63,47,1024.0,1022.8,3,2,14.5,18.3,0,0.0,0
326,7.1,7,46.0,11,14,6.0,28,69,39,1021.0,1016.2,6,7,15.8,25.9,0,0.0,0
327,12.6,7,78.0,7,14,31.0,35,43,13,1009.6,1009.2,1,1,23.8,28.6,0,0.0,0

In [ ]:
df["Sunshine"]

0       6.3
1       9.7
2       3.3
3       9.1
4      10.6
       ...
323    12.1
324    12.7
325     5.3
326     7.1
327    12.6
Name: Sunshine, Length: 328, dtype: float64

In [ ]:
target

'RainTomorrow'

In [ ]:
X = df.loc[:,df.columns != target]
y = df[target]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=0)

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

CPU times: user 377 ms, sys: 35.7 ms, total: 413 ms
Wall time: 569 ms

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9817073170731707

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier()
ada.fit(X_train, y_train)
y_pred = ada.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

In [ ]:
X.loc[100:101,:]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
100,10.4,20.9,0.0,4.0,8.9,10,33.0,8,8,15.0,...,65,51,1007.7,1006.8,6,6,13.8,18.7,0,0.0
101,9.1,23.1,0.0,5.8,9.6,1,41.0,10,13,17.0,...,66,37,1013.6,1011.4,1,7,14.0,21.4,0,0.0

In [ ]:
import joblib

def save_model(model,model_name):
 joblib.dump(model, model_name)
  

def load_model(model_name):
  return joblib.load(model_name)

In [ ]:
save_model(rf,"RandomForest_Trained_model_For_weather")

In [ ]:
save_model(ada,"AdaBoost_Trained_model_For_weather")